<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} &CenterDot; FC Patrick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="E2i1cImEParIb1umBFFnBKXNw6ptRWUcX6IEHGdVK_Q">
    <meta name="description" content="Este blog aborda temas relacionados à computação, como programação, inteligência artificial e aprendizado de máquina. Aqui, analiso notícias, compartilho opiniões e trago comentários sobre iniciativas governamentais voltadas ao desenvolvimento tecnológico.">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    {{ content }}
    {% include footer.html %}
</body>
</html>
